@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15 23 42; /* Slate 900 */
  --foreground: 248 250 252; /* Slate 50 */
  
  --primary: 6 182 212; /* Cyan 500 */
  --secondary: 59 130 246; /* Blue 500 */
  --accent: 147 51 234; /* Purple 600 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15 23 42;
    --foreground: 248 250 252;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
